.menu-tittle{
  color:white;
  background: url("../../assets/imgs/valorant-riot-games.png") no-repeat 50% 50%;
  background-size: cover ;
  width: 100%;
  height: 600px;
}

.menu-tittle > h1{
  margin-top: 10px;
  margin-bottom: 10;
  font-size: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.menu-tittle >hr {
  margin-top: 20px;
  margin-bottom: 20px;
}



