<app-menu-tittle></app-menu-tittle>
<div class="conainer-body">

  <div class="section1">
    <h1>We Are Valorant</h1>
  </div>

  <div class="container-tittle">

    <div class="container-p">
      <h2>DESAFIE SEUS LIMITES</h2>
      <p>Misture o seu estilo e experiência em um cenário global e competitivo. Você terá 13 rodadas para atacar e defender com disparos certeiros e habilidades táticas. Com apenas uma vida por rodada, você deve pensar mais rápido que o oponente se quiser sobreviver. Encare inimigos nos modos Competitivo e Sem Ranque, além da Disputa da Spike e do Mata-Mata!</p>
    </div>

    <div class="containe-img">
      <img src="../../assets/imgs/EGS_VALORANT_RiotGames_S1_2560x1440-5eff1895cb16cfb2bbbaaef1f6e90223.jpg" alt="">
    </div>

  </div>

  <app-section-heros></app-section-heros>

</div>
