


<app-menu-tittle></app-menu-tittle>
<div class="container-articles">
 <!--<div *ngFor="let item of ValorantAgente" class="articles__main">
    <app-big-card id="1" photoCover={{item.displayIcon}} CardTittle={{item.displayName}} [CardDescription]="'uma descrição qualquer com muitos conteudos e letras'"></app-big-card>
  <app-small-card id={{item.uuid}} photoCover={{item.displayIcon}} CardTittle={{item.displayName}}></app-small-card></div>
  </div>-->

  <div *ngFor="let item of ValorantAgente" class="articles__others">
    <app-cardtest id="{{item.uuid}}" img={{item.displayIcon}} description={{item.description}} name={{item.displayName}}></app-cardtest>
</div>
