<div class="container-principal">
  <div class="hero-img">
    <div class="herobackgroud"></div>
    <div class="herobackgroud2"></div></div>
    <div class="section-go-agents">
      <h1>Seus Agentes</h1>
      <p>A CRIATIVIDADE É SUA MELHOR ARMA.Mais do que armas e munição, VALORANT inclui agentes com habilidades adaptativas, rápidas e letais, que criam oportunidades para você exibir sua mecânica de tiro. Cada Agente é único, assim como os momentos de destaque de cada partida!</p>
      <button class="btn"  id="customBtn"><a href="home">Ver Todos Os Heroes</a></button>
    </div>
</div>
